include ../material-icons/material-icons.pug

mixin button({ styleType = 'simple', href = '/mock-address/change-me', text = 'click me', buttonType = null, size = null } = {})
  - let sizeModifier = null
  - let tagModifier = null
  - let typeModifier = null
  - let isSubmit = false

  case buttonType
    when 'submit'
      - tagModifier = 'button'
      - typeModifier = 'submit'
      - isSubmit = true
    when 'button'
      - tagModifier = 'button'
    default
      - tagModifier = 'a'

  case size
    when 'small'
      - sizeModifier = 'button_size_small'
    when 'narrow'
      - sizeModifier = 'button_size_narrow'

  case styleType
    when 'faint'
      .button.button_faint(class=sizeModifier)
        #{tagModifier}(class='button__key' type=typeModifier href=isSubmit ? null : href)=text
    when 'long'
      #{tagModifier}(class='button button_long' class=sizeModifier type=typeModifier href=isSubmit ? null : href)=text
        .button__arrow
          +material-icons({
            type: 'arrow_forward', 
            color: 'white',
          })
    default
      #{tagModifier}(class=`button button_${styleType}` class=sizeModifier type=typeModifier href=isSubmit ? null : href)=text