include ../material-icons/material-icons.pug

mixin button({ typeOfStyle = 'simple', href = '/mock-address/change-me', text = 'click me', type='', size=undefined } = {})
  - let sizeModifier = ''
  - let isSubmit = false

  case type
    when 'submit'
      - isSubmit = true

  case size
    when 'small'
      - sizeModifier = 'button_size_small'
    when 'narrow'
      - sizeModifier = 'button_size_narrow'

  case typeOfStyle
    when 'faint'
      .button.button_faint(class=sizeModifier)
        if isSubmit
          button(class='button__key' type='submit')=text
        else 
          a(href=href class='button__key')=text
    when 'long'
      if isSubmit
        button(class='button button_long' class=sizeModifier type='submit')=text
          .button__arrow
            +material-icons({
              type: 'arrow_forward', 
              color: 'white',
            })
      else 
        a(href=href class='button button_long' class=sizeModifier)=text
          .button__arrow
            +material-icons({
              type: 'arrow_forward', 
              color: 'white',
            })
    default
      if isSubmit
        button(class=`button button_${typeOfStyle}` class=sizeModifier type='submit')=text
      else 
        a(href=href class=`button button_${typeOfStyle}` class=sizeModifier)=text



//- ***************
//- *** EXAMPLE ***
//- 
//- +button({
    'typeOfStyle': 'long', 
    href: '/mock-address/change-me', 
    text: 'click me',
    type: 'submit',
  })
//- 
//- ***************