mixin text-field({ type = 'text', name, theme, isMasked, placeholder, disabled = false, readonly = false, width, cursor, } = {})

  - let darkThemeModifier = ''
  - let maskedThemeModifier = ''
  - let sizeModifier = ''
  - let cursorTypeModifier = ''

  case theme
    when 'dark'
      - darkThemeModifier = ' '+'text-field_dark'
    
  if isMasked
    - maskedThemeModifier = ' '+'text-field_masked'
    - placeholder = 'ДД.ММ.ГГГГ'

  case width
    when 'full-wide'
      - sizeModifier = ' '+'text-field_wide'

  case cursor
    when 'pointer'
      - cursorTypeModifier = ' '+'text-field_clickable'

  input(
    type=type
    name=name
    class=`text-field js-text-field${darkThemeModifier}${maskedThemeModifier}${sizeModifier}${cursorTypeModifier}`
    placeholder=placeholder
    disabled=disabled
    readonly=readonly
  )