mixin text-field({ type = 'text', name = undefined, theme = undefined, placeholder = '', disabled = false, readonly = false, width = undefined, cursor = undefined,} = {})

  - let addClassTheme = ''
  - let addClassSize = ''
  - let addClassCursor = ''

  case theme
    when 'date-field'
      - addClassTheme = 'text-field_dark-placeholder'
    when 'masked'
      - addClassTheme = 'text-field_masked'
      - placeholder = 'ДД.ММ.ГГГГ'

  case width
    when 'full-wide'
      - addClassSize = 'text-field_wide'

  case cursor
    when 'pointer'
      - addClassCursor = 'text-field_clickable'

  input(
    type=type, 
    name=name, 
    class=`text-field ${addClassTheme} ${addClassSize} ${addClassCursor}`, 
    placeholder=placeholder 
    disabled=disabled 
    readonly=readonly 
  )

//- ***************
//- *** EXAMPLE ***
//- 
//- +text-field({
      type: 'email',
      name: 'input-email',
      placeholder: 'Email'
    })


    +text-field({
      type: 'text',
      name: 'masked-text-field',
      placeholder: 'ДД.ММ.ГГГГ',
      theme: 'masked'
    })
//- 
//- ***************

