mixin text-field(options)
  input(
    type=options.type, 
    name=options.name, 
    id=options.id,
    class='text-field', 
    class=options.class,
    placeholder=options.placeholder 
    disabled=options.disabled 
    readonly=options.readonly 
    style=options.style
  )

//- ***************
//- *** EXAMPLE ***
//- 
//- +text-field({
      type: 'email',
      name: 'input-email',
      placeholder: 'Email'
    })
//- 
//- ***************

