mixin radio-button(id, name, value, text, checked)
  input(type="radio" id=id name=name value=value class="radio-button__input" checked=checked)
  label(for=id class="radio-button__label")=text


//- ***************
//- *** EXAMPLE ***
//- 
//- .radio-button
//-     +radio-button('contactChoice1', 'contact', 'man', 'Мужчина', 'checked')
//-     +radio-button('contactChoice2', 'contact', 'woman', 'Женщина')
//- 
//- ***************