mixin radio-button(options)
  input(type='radio' id=options.id name=options.name value=options.value class='radio-button__input' checked=options.checked)
  label(for=options.id class='radio-button__label')=options.text


//- ***************
//- *** EXAMPLE ***
//- 
//- .radio-button
//-   +radio-button({id:'contactChoice1', name:'contact', value:'man', text:'Мужчина', checked:'true'})
//-   +radio-button({id:'contactChoice2', name:'contact', value:'woman', text:'Женщина'})
//-   
//- 
//- ***************