include ../heading/heading.pug
include ../dropdown-date/dropdown-date.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../info-table/info-table.pug

mixin form-book-a-room({ name='form-book-a-room', action='/mock-address/change-me', method='get', currency = '₽', inTime = 'в сутки', typeOfRoom = 'люкс', roomPrice = '9 990', roomNumber = '888' } = {})
  form.form-book-a-room(name=name action=action method=method)
    .form-book-a-room__wrapper
      .form-book-a-room__title
        p.form-book-a-room__row
          span.form-book-a-room__no № 
          span.form-book-a-room__number=roomNumber
          span.form-book-a-room__type= ' ' + typeOfRoom
        p.form-book-a-room__row.form-book-a-room__row_price-margin
          span.form-book-a-room__price=roomPrice
          span.form-book-a-room__price=currency + ' '
          span.form-book-a-room__in-time=inTime

      .form-book-a-room__dropdown-date
        +dropdown-date({ firstHeader: 'Прибытие', secondHeader: 'Выезд' })
      .form-book-a-room__dropdown
        +heading({ type: 'h3', text: 'Гости' })
        .form-book-a-room__dropdown-container
          +dropdown({ 
            selectText: 'Сколько гостей',
            hasButtons: true,
            options: [
              { text: 'взрослые', group: 'гости' },
              { text: 'дети', group: 'гости' },
              { text: 'младенцы' },
            ]
          })

      .form-book-a-room__info-table
        +info-table({ currency: currency })

      .form-book-a-room__button-long
        +button({
          typeOfStyle: 'long', 
          href: '/mock-address/change-me', 
          text: 'Забронировать',
          type: 'submit',
        })
