include ../rate-button/rate-button.pug

mixin room-preview(options)
    .room-preview
        img(class='room-preview__image' src=options.src alt=options.name)
        .room-preview__icons
          .room-preview__circle.room-preview__circle_full
          .room-preview__circle
          .room-preview__circle
          .room-preview__circle
        .room-preview__arrows

        .room-preview__descr
          .room-preview__row
            .room-preview__paragraph
              span.room-preview__no № 
              span.room-preview__number=options.number
              if options.islucs
                span.room-preview__islucs  люкс

            .room-preview__paragraph
              span.room-preview__price=options.price
              span.room-preview__price ₽
              span.room-preview__in-time  в сутки

          .room-preview__row
            .room-preview__underline

          .room-preview__row
            .room-preview__paragraph
              .room-preview__rate-button
                +rate-button(options.name, options.rate)

            .room-preview__paragraph
              span.room-preview__reviews-num=options.reviews
              span.room-preview__reviews-rev  Отзывов

//- ******************
//- 
//- +room-preview({
//-   number: '888',
//-   src: '/../../img/rooms/room888.svg',
//-   price: '9 990',
//-   name: 'room888',
//-   rate: 5,
//-   reviews: '145',
//-   islucs: true
//- })
//- +room-preview({
//-   number: '840',
//-   src: '/../../img/rooms/room840.svg',
//-   price: '9 900',
//-   name: 'room840',
//-   rate: 4,
//-   reviews: '65',
//-   islucs: false
//- })