include ../rate-button/rate-button.pug

mixin room-preview({ hasArrows = false, src = 'img/rooms/room888.svg', number = 888, name = 'room photo', typeOfRoom = null, price = '9 900', rate = 5, reviews = 145, currency = '₽', inTime = 'в сутки' } = {} )
  section.room-preview.js-room-preview
    figure.room-preview__slider.js-room-preview__slider(class=hasArrows ? 'room-preview__slider_with-arrows' : null)
      img(class='room-preview__image' src=src alt=name)
      img(class='room-preview__image' src=src alt=name)
      img(class='room-preview__image' src=src alt=name)
      img(class='room-preview__image' src=src alt=name)

    .room-preview__description
      .room-preview__row
        .room-preview__paragraph
          span.room-preview__no № 
          span.room-preview__number=number
          span.room-preview__type-of-room= ' ' + typeOfRoom

        .room-preview__paragraph
          span.room-preview__price=price
          span.room-preview__price=currency
          span.room-preview__in-time= ' ' + inTime

      .room-preview__row
        .room-preview__underline

      .room-preview__row
        .room-preview__paragraph
          .room-preview__rate-button
            +rate-button({ name, rating: rate })

        .room-preview__paragraph
          span.room-preview__reviews-num=reviews + ' '
          span.room-preview__reviews-rev Отзывов