include ../rate-button/rate-button.pug

mixin room-preview({ isArrows = false, src = 'img/rooms/room888.svg', number = 888, name = 'room photo', isLucs = false, price = '9 900', rate = 5, reviews = 145 } = {} )
  section.room-preview
    figure.room-preview__slider.js-room-preview__slider(class=isArrows ? 'room-preview__slider_with-arrows' : '')
      img(class='room-preview__image' src=src alt=name)
      img(class='room-preview__image' src=src alt=name)
      img(class='room-preview__image' src=src alt=name)
      img(class='room-preview__image' src=src alt=name)

    .room-preview__descr
      .room-preview__row
        .room-preview__paragraph
          span.room-preview__no № 
          span.room-preview__number=number
          if isLucs
            span.room-preview__islucs  люкс

        .room-preview__paragraph
          span.room-preview__price=price
          span.room-preview__price ₽
          span.room-preview__in-time  в сутки

      .room-preview__row
        .room-preview__underline

      .room-preview__row
        .room-preview__paragraph
          .room-preview__rate-button
            +rate-button({ name: name, checkNum: rate })

        .room-preview__paragraph
          span.room-preview__reviews-num=reviews
          span.room-preview__reviews-rev  Отзывов

//- ******************
//- 
//- +room-preview({
//-   number: '888',
//-   src: 'img/rooms/room888.svg',
//-   price: '9 990',
//-   name: 'room888',
//-   rate: 5,
//-   reviews: '145',
//-   isLucs: true
//- })
//- +room-preview({
//-   number: '840',
//-   src: 'img/rooms/room840.svg',
//-   price: '9 900',
//-   name: 'room840',
//-   rate: 4,
//-   reviews: '65',
//-   isLucs: false
//- })