mixin rich-checkbox(id, name, head_text, descr)
    .rich-checkbox
      input(type="checkbox" name=name id=id class="rich-checkbox__input")
      label(for=id class="rich-checkbox__label")
        span.rich-checkbox__head-text=head_text
        p.rich-checkbox__descr=descr



//- ***************
//- *** EXAMPLE ***
//- 
//- +rich-checkbox('checkbox13', 'checkbox13', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
//- +rich-checkbox('checkbox14', 'checkbox14', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.')
//- 
//- ***************
